* {
  box-sizing: border-box;
}
#navbar {
  /* background: #e00606; */
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#navbar-brand {
  border: 2px solid yellow;
  padding-left: 5%;
  /* padding-left: 15px; */
}
#navbar-collapse-toggle {
  border: 2px solid white;
  justify-self: end;
  margin-right: 3%;
}
.nav-link {
  color: rgb(147, 176, 173);
}
.navbar-toggler {
  width: 5rem;
  /* order: ; */
  /* margin-right: 15px; */
}

@media (max-width: 767px) {
  #navbar {
    /* position: relative; */
    /* display: flex; */
    /* background-color: aqua; */
    /* border-radius: 2px solid rgb(8, 21, 208); */
  }
}
