* {
  box-sizing: border-box;
}
#navbar {
  /* background: #e00606; */
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#navbar-brand {
  border: 2px solid yellow;
  padding-left: 5%;
}
#navbar-collapse-toggle {
  border: 2px solid white;
  justify-self: end;
  margin-right: 3%;
}
.nav-link {
  color: rgb(147, 176, 173);
}
.navbar-toggler {
  width: 5rem;
}
