* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 4rem;
  overflow-x: hidden;
  /* background-color: black; */
}

#navbar {
  /* background: #e00606; */
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 9vh;
}
#navbar-collapse-toggle {
  /* border: 2px solid white; */
  /* margin-left: 10%; */
  justify-content: center;
}
.navbar-nav {
  display: flex;
  gap: 5%;
}
.nav-link {
  color: rgb(147, 176, 173);
}
.navbar-toggler {
  width: 5rem;
  /* order: ; */
  /* margin-right: 15px; */
}
#landingPage {
  border: 2px solid red;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
#intro {
  border: 2px solid black;
  width: 45%;
}
#introImg {
  border: 2px solid green;
  width: 40%;
}
#introImg img {
  width: 350px;
}

#about_page {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}
#about_text,
#about_avatar {
  border: 2px solid blue;
}
#about_text {
  width: 40%;
}
#about_avatar {
  width: 300px;
  border-radius: 50%;
}
#about_avatar img {
  width: 100%;
  border-radius: 50%;
}
.skills {
  display: flex;
  flex-direction: column;
}
.skills h1,
.skills h5 {
  margin-left: 5vw;
}
#technologies {
  place-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  transform: translateY(50%);
  gap: 2.5rem;
  border: 2px solid rgb(15, 26, 242);
}
.techs {
  width: 90px;
  height: 90px;
  border: 2px solid red;
  /* animation: rotate 5s ease-out infinite; */
  /* transform: rotate(45deg); */
  /* background-image: url(ass);  */
}
@keyframes rotate {
  0% {
    transform: rotateX(10deg);
    transform: rotateY(10deg);
  }
  30% {
    transform: rotateX(30deg);
    transform: rotateY(30deg);
  }
  50% {
    transform: rotateX(50deg);
    transform: rotateY(50deg);
  }
  80% {
    transform: rotateX(80deg);
    transform: rotateY(80deg);
  }
  100% {
    transform: rotateX(10deg);
    transform: rotateY(10deg);
  }
}
.techs img {
  width: 100%;
}
#services {
  border: 2px solid black;
  padding-block: 2rem;
  display: flex;
  place-content: center;
  column-gap: 2rem;
}
.service {
  width: 300px;
  border: 2px solid blue;
}
.service img {
  width: 100%;
}
#hireme {
  border: 2px solid red;
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* MEDIA QUERIES */
@media (max-width: 320px) {
  #services {
    padding: 0;
  }
}
@media (max-width: 370px) {
  #technologies {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(30%);
  }
}
@media (max-width: 480px) {
  #about_text {
    /* width: 100%; */
    padding-inline: 1rem;
  }
  #about_avatar {
    width: 280px;
  }
  #technologies {
    grid-template-columns: repeat(4, 1fr);
  }
  .techs {
    width: 70px;
    height: 70px;
  }
  .techs:last-child {
    grid-column: 3/4;
  }
  .techs:nth-last-child(2) {
    grid-column: 2/3;
  }
  #services {
    flex-direction: column;
    align-items: center;
    row-gap: 1.7rem;
  }
  #services div {
    width: 75vw;
  }
}
@media (max-width: 767px) {
  #navbar-collapse-toggle {
    border: none;
    position: absolute;
    top: 9vh;
    left: -15.5%;
    margin-left: 15%;
    padding-left: 10px;
    width: 100vw;
    background-color: rgb(247, 249, 247);
    box-shadow: 2px 2px 10px rgb(63, 59, 59);
  }
  .navbar-nav {
    display: flex;
    padding-bottom: 10px;
    /* row-gap: 1px; */
    /* flex-direction: row; */
  }
  .nav-link {
    margin-bottom: -10px;
    color: rgb(47, 0, 255);
  }
  #landingPage {
    flex-direction: column;
    height: auto;
  }
  #intro {
    width: 100%;
    padding-inline: 1rem;
  }
  #introImg {
    width: 300px;
  }
  #about_page {
    flex-direction: column;
  }
  #about_text {
    width: calc(70% + 100px);
  }
  #technologies {
    gap: 1.2rem;
  }
  .techs {
    /* width: 15vw; */
  }
  #services {
    column-gap: 0.9rem;
  }
  .service {
    width: 270px;
  }
}
@media (max-width: 890px) {
  #introImg img {
    width: 100%;
  }
}
